html {
	height: 100%;
}
* {
	margin: 0px; padding: 0px;
}
body {
	background: rgb(204, 204, 204); font: 80%/normal Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
p {
	padding: 0px 0px 10px; color: rgb(29, 29, 29); line-height: 1.7em; font-size: 100%;
}
img {
	border: 0px currentColor;
}
h1 {
	font: 175%/normal Arial, Helvetica, sans-serif; margin: 0px 0px 10px; color: rgb(29, 29, 29); letter-spacing: -1px; font-size-adjust: none; font-stretch: normal; text-shadow: 1px 1px #fff;
}
h2 {
	font: 175%/normal Arial, Helvetica, sans-serif; margin: 0px 0px 10px; color: rgb(29, 29, 29); letter-spacing: -1px; font-size-adjust: none; font-stretch: normal; text-shadow: 1px 1px #fff;
}
h3 {
	font: 175%/normal Arial, Helvetica, sans-serif; margin: 0px 0px 10px; color: rgb(29, 29, 29); letter-spacing: -1px; font-size-adjust: none; font-stretch: normal; text-shadow: 1px 1px #fff;
}
h4 {
	font: 175%/normal Arial, Helvetica, sans-serif; margin: 0px 0px 10px; color: rgb(29, 29, 29); letter-spacing: -1px; font-size-adjust: none; font-stretch: normal; text-shadow: 1px 1px #fff;
}
h5 {
	font: 175%/normal Arial, Helvetica, sans-serif; margin: 0px 0px 10px; color: rgb(29, 29, 29); letter-spacing: -1px; font-size-adjust: none; font-stretch: normal; text-shadow: 1px 1px #fff;
}
h6 {
	font: 175%/normal Arial, Helvetica, sans-serif; margin: 0px 0px 10px; color: rgb(29, 29, 29); letter-spacing: -1px; font-size-adjust: none; font-stretch: normal; text-shadow: 1px 1px #fff;
}
h2 {
	font: 165%/normal Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
h3 {
	font: 130%/normal Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
h4 {
	font: 150%/1.5em Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
h5 {
	font: 150%/1.5em Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
h6 {
	font: 150%/1.5em Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
h5 {
	font: 95%/normal Arial, Helvetica, sans-serif; color: rgb(136, 136, 136); padding-bottom: 15px; font-size-adjust: none; font-stretch: normal;
}
h6 {
	font: 95%/normal Arial, Helvetica, sans-serif; color: rgb(136, 136, 136); padding-bottom: 15px; font-size-adjust: none; font-stretch: normal;
}
a {
	color: rgb(29, 29, 29); text-decoration: none;
}
a:hover {
	color: rgb(29, 29, 29); text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
ul {
	margin: 2px 0px 22px 30px; line-height: 1.7em; font-size: 100%; font-style: normal;
}
ol {
	margin: 8px 0px 22px 20px;
}
ol li {
	margin: 0px 0px 11px;
}
#main {
	margin-right: auto; margin-left: auto;
}
#header {
	margin-right: auto; margin-left: auto;
}
#banner {
	margin-right: auto; margin-left: auto;
}
#menubar {
	margin-right: auto; margin-left: auto;
}
#site_content {
	margin-right: auto; margin-left: auto;
}
#footer {
	margin-right: auto; margin-left: auto;
}
#content_grey {
	margin-right: auto; margin-left: auto;
}
#main {
	
}
#header {
	width: 920px; height: 120px;
}
#banner {
	padding: 15px 0px 0px; width: 920px; height: 50px; position: relative;
}
#menubar {
	background: rgb(29, 29, 29); margin: 0px auto; border-radius: 15px; width: 920px; height: 50px; text-align: center; box-shadow: 0px 0px 5px rgba(0,0,0,0.5); -moz-border-radius: 15px 15px 15px 15px; -webkit-border: 15px 15px 15px 15px; -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px; -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}
#welcome {
	margin: 0px auto; width: 880px; height: 50px; padding-left: 20px; float: left;
}
#welcome_slogan {
	margin: 0px auto; width: 880px; height: 50px; padding-left: 20px; float: left;
}
#welcome h1 {
	font: 300%/normal Arial, Helvetica, sans-serif; color: rgb(29, 29, 29); letter-spacing: -3px; font-size-adjust: none; font-stretch: normal; text-shadow: 1px 1px #fff;
}
#welcome_slogan h1 {
	font: 200%/normal Arial, Helvetica, sans-serif; color: rgb(83, 83, 83); letter-spacing: -2px; font-size-adjust: none; font-stretch: normal; text-shadow: 1px 1px #fff;
}
ul#menu {
	margin: 0px;
}
ul#menu li {
	list-style: none; margin: 2px 0px 0px; padding: 0px; display: inline;
}
ul#menu li a {
	font: bold 120%/normal Arial, Helvetica, sans-serif; margin: 10px 0px 0px 20px; padding: 6px 20px 0px; border-radius: 7px; height: 24px; text-align: center; color: rgb(255, 255, 255); text-decoration: none; float: left; font-size-adjust: none; font-stretch: normal; text-shadow: 0px -1px 0px #000; -moz-border-radius: 7px 7px 7px 7px; -webkit-border: 7px 7px 7px 7px;
}
ul#menu li.current a {
	background: rgb(255, 255, 255); color: rgb(29, 29, 29); text-shadow: none;
}
ul#menu li:hover a {
	background: rgb(255, 255, 255); color: rgb(29, 29, 29); text-shadow: none;
}
#site_content {
	margin: 0px auto; width: 920px; overflow: hidden;
}
.sidebar_container {
	margin: 0px 20px 10px 10px; padding: 0px; width: 195px; float: right;
}
.sidebar {
	padding: 0px; width: 210px; margin-top: 10px; margin-bottom: 10px; float: right;
}
.sidebar_item {
	font: 100%/normal Arial, Helvetica, sans-serif; width: 195px; font-size-adjust: none; font-stretch: normal;
}
.sidebar h2 {
	background: rgb(29, 29, 29); font: 140%/normal Arial, Helvetica, sans-serif; padding: 5px 10px 0px 0px; border-radius: 15px; height: 30px; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal; box-shadow: 0px 0px 5px rgba(0,0,0,0.5); text-shadow: 0px -1px 0px #000; -moz-border-radius: 15px 15px 15px 15px; -webkit-border: 15px 15px 15px 15px; -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px; -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}
#content {
	width: 680px; margin-bottom: 20px; float: left;
}
.content_item {
	width: 680px; margin-top: 20px; margin-bottom: 20px;
}
.content_image {
	margin: 0px 20px 10px 0px; width: 150px; height: 150px; float: left; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px; -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}
.content_container {
	padding: 5px; width: 320px; margin-right: 10px; float: left;
}
#content_grey {
	background: rgb(29, 29, 29); border-radius: 15px; width: 920px; height: 160px; text-align: center; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); -moz-border-radius: 15px 15px 15px 15px; -webkit-border: 15px 15px 15px 15px; -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px; -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}
#content_grey p {
	color: rgb(255, 255, 255);
}
#content_grey h4 {
	text-shadow: none;
}
.content_grey_container_box {
	margin: 20px 10px 10px; padding: 5px; width: 270px; text-align: center; float: left;
}
.content_grey_container_boxl {
	margin: 20px 0px 10px 10px; padding: 5px; width: 270px; text-align: center; float: left;
}
#footer {
	width: 920px; height: 20px; text-align: center; color: rgb(83, 83, 83); padding-top: 20px; text-shadow: 1px 1px #fff;
}
#footer a {
	color: rgb(83, 83, 83); padding-bottom: 20px; text-decoration: none;
}
#footer a:hover {
	color: rgb(83, 83, 83); padding-bottom: 20px; text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
#footer a {
	color: rgb(83, 83, 83); text-decoration: none;
}
#footer a:hover {
	color: rgb(83, 83, 83); text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
.readmore {
    float:right; background: rgb(255, 255, 255); font: bold 110%/normal Arial, Helvetica, sans-serif; padding: 5px 2px 7px; border-radius: 15px; width: 200px; height: 15px; margin-left: 5px; font-size-adjust: none; font-stretch: normal; box-shadow: 0px 0px 5px rgba(0,0,0,0.5); -moz-border-radius: 15px 15px 15px 15px; -webkit-border: 15px 15px 15px 15px; -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px; -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}
.readmore a {
	color: rgb(29, 29, 29);
}
.button_small {
	background: rgb(29, 29, 29); font: 110%/normal Arial, Helvetica, sans-serif; padding: 5px 2px 7px; border-radius: 15px; width: 80px; height: 15px; font-size-adjust: none; font-stretch: normal; box-shadow: 0px 0px 5px rgba(0,0,0,0.5); -moz-border-radius: 15px 15px 15px 15px; -webkit-border: 15px 15px 15px 15px; -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px; -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}
.button_small a {
	color: rgb(255, 255, 255); padding-left: 5px;
}
.form_settings {
	margin: 15px 0px 0px;
}
.form_settings p {
	padding: 0px 0px 4px;
}
.form_settings span {
	width: 280px; text-align: left; float: left;
}
.form_settings input {
	background: rgb(255, 255, 255); font: 100%/normal arial; padding: 2px; border: 1px solid rgb(229, 229, 219); width: 299px; color: rgb(71, 67, 63); font-size-adjust: none; font-stretch: normal;
}
.form_settings textarea {
	background: rgb(255, 255, 255); font: 100%/normal arial; padding: 2px; border: 1px solid rgb(229, 229, 219); width: 299px; color: rgb(71, 67, 63); font-size-adjust: none; font-stretch: normal;
}
.form_settings input[type='checkbox'] {
	background: rgb(255, 255, 255); font: 100%/normal arial; margin: 28px 0px; padding: 2px 0px; border: 0px currentColor; width: 15px; color: rgb(71, 67, 63); font-size-adjust: none; font-stretch: normal;
}
.form_settings .submit {
	background: rgb(80, 130, 189); font: 100%/normal arial; margin: 0px 0px 0px 206px; padding: 2px 0px 3px; border: 1px solid currentColor; width: 99px; height: 26px; color: rgb(255, 255, 255); cursor: pointer; font-size-adjust: none; font-stretch: normal;
}
ul.slideshow {
	list-style: none; margin: 20px 0px 0px; width: 680px; height: 250px; overflow: hidden; position: relative; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px; -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}
ul.slideshow li {
	margin: 0px; padding: 0px; left: 0px; right: 0px; position: absolute;
}
ul.slideshow li.show {
	z-index: 500;
}
ul img {
	border: currentColor;
}
#slideshow-caption {
	left: 0px; width: 680px; height: 38px; bottom: 0px; position: absolute; z-index: 500;
}
#slideshow-caption .slideshow-caption-container {
	background: url("../images/transparent.png"); padding: 10px 25px; z-index: 1000;
}
#slideshow-caption p {
	font: 130%/normal arial, sans-serif; padding: 0px; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
